.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules
src
out
testlib
!testlib/checkers
!testlib/testlib.h
!testlib/LICENSE
tailwind.config.js
.gitmodules
esbuild.mjs
LICENSE_BASE