.mycodicon {
	font: normal normal normal 16px/1 codicon;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

body.vscode-dark {
	background: #18181b;
}

body.vscode-light {
	background: #f4f4f5;
}

.ReactCollapse--collapse {
  transition: height 250ms;
}